.root {		
    -fx-font-size: 12pt;		
    -fx-font-family: Tahoma,Geneva,sans-serif;		
    -fx-base: #990000;
    -fx-background: #d9d9d9;
    -fx-accent: #737373;
    -fx-focus-color: #737373;
}		
		
.button {		
    -fx-text-fill: #fff;		
    -fx-background-color: #262626;		
    -fx-border-radius: 10;		
    -fx-background-radius: 10;		
    -fx-padding: 4;		
}		
		
.button:hover {		
    -fx-background-color: #000000;		
}		
		
.combo-box-base {		
    -fx-text-base-color: #fff;		
    -fx-background-color: #262626;		
    -fx-border-radius: 20;		
    -fx-background-radius: 20;		
}		
		
.combo-box-base:hover {		
    -fx-background-color: #000000;		
}		
		
.label {		
    -fx-font-size: 11pt;		
    -fx-font-family: Tahoma,Geneva,sans-serif;		
    -fx-text-fill: #000000;		
    -fx-opacity: .6;		
}		
		
.text-field {		
    -fx-font-size: 14pt;		
    -fx-font-family: Tahoma,Geneva,sans-serif;		
} 		