.root {		
    -fx-font-size: 12pt;		
    -fx-font-family: Tahoma,Geneva,sans-serif;		
    -fx-base: #99e6ff;		
    -fx-background: #4da6ff;		
}		
		
.button {		
    -fx-text-fill: #fff;		
    -fx-background-color: #262626;		
    -fx-border-radius: 10;		
    -fx-background-radius: 10;		
    -fx-padding: 4;		
}		
		
.button:hover {		
    -fx-background-color: #3a3a3a;		
}		
		
.combo-box-base {		
    -fx-text-base-color: #fff;		
    -fx-background-color: #262626;		
    -fx-border-radius: 20;		
    -fx-background-radius: 20;		
}		
		
.combo-box-base:hover {		
    -fx-background-color: #3a3a3a;		
}		
		
.label {		
    -fx-font-size: 11pt;		
    -fx-font-family: Tahoma,Geneva,sans-serif;		
    -fx-text-fill: #006464;		
    -fx-opacity: .6;		
}		
		
.text-field {		
    -fx-font-size: 14pt;		
    -fx-font-family: Tahoma,Geneva,sans-serif;		
} 		